/* == Elements == */

body {
    font-family: sans-serif;
}

/* Header */
header {
    height: 3em;
    line-height: 3em;
    text-align: center;
    background-color: skyblue;
}

header h1 {
    font-size: 2em;
}

/* Main Quizzlet */

main {
    display: flex;
    justify-content: center;
}

section {
    padding: 15px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    font-size: 1.25em;
}

section div span {
    color: black;
    display: block;
    margin: 5px;
    padding: 10px;
    outline: blue solid 1px;
    width: 200px;
    background-color: antiquewhite;
}

div span:hover {
    background-color: skyblue;
}

section span, label {
    color: gray;
    margin: 10px;
}

/* Footer */

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background-color: skyblue;
}

/* == Classes == */
.score {
    display: block;
    text-align: center;
}

/* == IDs == */
#quizzlet {
    visibility: hidden;
}

#scores {
    visibility: hidden;
}